:root {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #E5E5E5;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.drawing-app {
    height: 100vh;
    display: flex;
}

.toolbar {
    background-color: white;
    width: 30%;
    max-width: 200px;
    height: 80%;
    max-height: 600px;
    margin: auto 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
}

.toolbar h2 {
    color: black;
    margin-top: 0;
    margin-bottom: 20px;
}

.tool-button,
.action-button {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #F0F0F0;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    margin: 0 auto;
    margin-bottom: 10px;
    cursor: pointer;
    width: 95%;
    text-align: center;
    font-size: 16px;
}

.tool-button:hover,
.action-button:hover {
    background-color: #DADADA;
}

/* Made the button blue */
.tool-button.active {
    background-color: #4A90E2;
    color: white;
}

.tool-button.active:hover {
    background-color: #357ABD;
}

#color-picker {
    width: 100%;
    height: 40px;
    border: none;
    margin-top: -10px;
    margin-bottom: 20px;
    cursor: pointer;
}

#brush-size {
    width: 100%;
    margin-bottom: 20px;
}

#clear-button:hover {
    background-color: #f83029a1;
    color: white;
}

#save-button:hover {
    background-color: #1d8548a1;
    color: white;
}

#print-button:hover {
    background-color: #9b59b6a1;
    color: white;
}


.canvas-area {
    flex: 1;
    height: 100%;
    display: flex;
    place-items: center;
    padding-right: 30px;
}

#drawing-canvas {
    background-color: white;
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;

    max-width: 100%;
    max-height: 100%;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 0 auto;
}