:root {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E5E5E5;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.drawing-app {
    height: 100vh;
    display: flex;
}

.toolbar {
    background-color: #0b070769;
    width: 30%;
    max-width: 300px;
    height: 90%;
    margin: auto 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.canvas-area {
    flex: 1;
    height: 100%;
    display: flex;
    place-items: center;
    padding-right: 30px;
}

#drawing-canvas {
    background-color: white;
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;

    max-width: 100%;
    max-height: 100%;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 0 auto;
}